@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
	font-family: ABeeZee, Asap, "Noto Color Emoji", "Noto Emoji", sans-serif;
}
code, kbd {
	font-family: JetBrains Mono, "Noto Color Emoji", "Noto Emoji", monospace;
}
p {
	text-align: justify;
}
.noscript {
	margin-top: 16px;
}
.navbar {
	box-shadow: 5px 0 10px #000;
}
.content {
	margin-top: 20px;
}
footer {
	box-shadow: 5px 0 10px #000;
}
.copyleft {
	display: inline-block;
	transform: rotate(180deg);
}